<div class="container" style="border-style: outset;" >
    <div>
    <table style="background-color:white;width:92%;margin-top:4%; ">
      <tr style="background-color: darkgray"> 
        <td >
            <h3 class="heading2" style="font-size:18px; color:darkblue; margin-left:10%">Recipe Details</h3>
        </td>
        <td>
                <!-- Button to Open the Modal -->
                <button style="font-size:12px; margin-left: -10%" class="btn btn-primary" data-toggle="modal" data-target="#AddRecipe">      
                    Add Recipe&nbsp;
                    <i class="fa fa-plus" style="width: 15%"></i>
                  </button>            
        </td> 
      </tr>
        <app-cookbook-list></app-cookbook-list>
      <tr>
         
      </tr>
      </table>

      </div>
      </div>
    